.copyright {
  text-align: center;
  padding: 3em 0em 0em 0em;

  p {
  	font-size: 1em;
  	color: #000000;

  	a {
			color:#d3bda5;

  		&:hover {
				color:#fff;
  			text-decoration: none;
  		}
  	}
  }
}

.about{
  text-align: left;
  padding: 5px 5px 5px 5px;
}
.about a{
  color: #e23169

}