@import '../../lib/util';

#landing-wrapper {
	padding: 0;
	margin-top: -61px; // This is the navbar height
}

#landing-carousel {
	z-index: 500;
	
	height: 100vh;

	.carousel-inner {
		height: 100%;

		.carousel-item {
			height: 100%;
			
			img {
				height: 100vh;
				object-fit: cover;
			}
		}
	}

	// Responsive, lg and up sizes
	@include media('>medium') {
		height: 80vh;

		.carousel-inner {
			height: 100%;

			.carousel-item {
				height: 100%;
				
				img {
					height: 80vh;
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

#landing-search {
	position: absolute;

	left: 50%;
	top: 50%;

	transform: translateY(-50%) translateX(-50%);

	background-color: rgba(251, 251, 251, .3);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);


	h2 {
		text-align: center;
	}

	form {
		margin-top: 2em;
	}
	
	@include media('<medium') {
		height: 100%;
		width: 100%;
		padding-top: 25%;
	}

	@include media('>medium') {
		width: 600px;
		padding: 50px;
		border-radius: 5px;
	}

	@include media('>large') {
		width: 800px;
	}
}

#landing-section-1 {
	background-color: #BEC2C4;
}

#landing-section-2 {
	background-color: #293337;
	color: white;
}

.card {
	margin-top: 2em;
	margin-bottom: 2em;
}





