nav {
	z-index: 600;
}
.icon-spin {
  -webkit-animation: icon-spin 7s infinite linear;
          animation: icon-spin 7s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.logo{
	margin-bottom:100px;
}#landing-carousel {
  margin-top: -58px;
  z-index: 500;
  height: 100vh; }
  #landing-carousel .carousel-inner {
    height: 100%; }
    #landing-carousel .carousel-inner .carousel-item {
      height: 100%; }
      #landing-carousel .carousel-inner .carousel-item img {
        height: 100vh;
        object-fit: cover; }
  @media (min-width: 769px) {
    #landing-carousel {
      height: 80vh; }
      #landing-carousel .carousel-inner {
        height: 100%; }
        #landing-carousel .carousel-inner .carousel-item {
          height: 100%; }
          #landing-carousel .carousel-inner .carousel-item img {
            height: 80vh;
            width: 100%;
            object-fit: cover; } }

#landing-search {
  position: absolute;
  left: 50%;
  top: 50%;
  font-style: bold;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(251, 251, 251, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); }
  #landing-search h2 {
    text-align: center; }
  #landing-search form {
    margin-top: 2em; }
  @media (max-width: 767px) {
    #landing-search {
      height: 100%;
      width: 100%;
      padding-top: 25%;
       } }
  @media (min-width: 769px) {
    #landing-search {
      width: 600px;
      padding: 50px;
      border-radius: 5px; } }
  @media (min-width: 993px) {
    #landing-search {
      width: 800px; } }

#landing-section-1 {
  background-color: #BEC2C4; }

#landing-section-2 {
  background-color: #293337;
  color: white; }

.card {
  margin-top: 2em;
  margin-bottom: 2em; }

.copyright {
  text-align: center;
  padding: 3em 0em 0em 0em;
}
.copyright p {
  font-size: 1em;
  color: #000000;
}
.copyright p a {
  color:#d3bda5;
}
.copyright p a:hover{
  color:#fff;
  text-decoration: none;
}

.glass{
  /* background styles */
  position: relative;
  display: inline-block;
  padding: .001px .001px;
  background-color: white; /*for compatibility with older browsers*/
  background-image: linear-gradient(white,lightyellow);
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;


  /* text styles */
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 100;
}
.glass:after{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.glass:hover{
  background: linear-gradient(#ffeedb,#ffeedb);
}

