#detail-search {
	padding-top: 20px;
	background-color: rgba(151, 151, 151, .3);
}

#profile-detail {
	.jumbotron {
		margin-top: 2em;

		.listing-description {
			margin-top: 3em;
		}
	}
}

.gravatar a{
	color:#ba1255;
}
