#listing-search {
	padding-top: 20px;
	background-color: rgba(151, 151, 151, .3);
}

#listing-detail {
	.jumbotron {
		margin-top: 2em;

		.listing-description {
			margin-top: 3em;
		}
	}
}

#detail-search {
	padding-top: 20px;
	background-color: rgba(151, 151, 151, .3);
}